
{% extends 'userlayout.html' %}


  
{% block body %}

<section style="background-color: #fff;">
    <div class="container py-5">
  
      <div class="row d-flex justify-content-center" class="overflow-auto">
        <div  class="overflow-auto">
  
          <div class="" >
           
            <div class="card-body" data-mdb-perfect-scrollbar="true" style="height: 450px">
  

              <div class="d-flex flex-row justify-content-start" class="overflow-auto">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                  alt="avatar 1" style="width: 45px; height: 100%;">
                <div>
                  <p class="small p-2 ms-3 mb-1 text-white rounded-3 bg-primary">Hi</p>
                 
                  <p class="small ms-3 mb-3 rounded-3 text-muted">23:58</p>
                </div>
              </div>

              
              
              

            </div>
           
          </div>
  
        </div>
      </div>
      <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3" class="position-absolute bottom-0 end-0">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
          alt="avatar 3" style="width: 40px; height: 100%;">
        <input type="text" class="form-control form-control-lg" id="exampleFormControlInput1"
          placeholder="Type message">
        <a class="ms-1 text-muted" href="#!"><i class="fas fa-paperclip"></i></a>
        <a class="ms-3 text-muted" href="#!"><i class="fas fa-smile"></i></a>
        <a class="ms-3" href="#!"><i class="fas fa-paper-plane"></i></a>
      </div>
    </div>
  </section>


{% endblock body %}
