

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title></title>
  <meta name="title" content="">
  <meta name="description" content="">

  <script src="static/css/index.js"></script>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
<!-- <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet"> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css"> 
    <!-- Local Styles -->

<!-- FontAwesomeKit -->
    <script src="https://kit.fontawesome.com/091f1122a7.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    
  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favico.svg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="static/assets/css/style.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- 
    - preload images
  -->

</head>

<body>

  <!-- 
    - #PRELOADER
 < -->

  <div class="loading-container" data-loading-container>
    <div class="loading-circle"></div>
  </div>
</div>


  <!-- 
    - #HEADER
  -->
  <header class="header" data-header>
    <div class="container">

      <a href="#" class="logo">
        <img src="https://www.central.edu.gh/static/img/Central-Uni-logo.png" width="148" height="38" alt="Fasteat home">
      </a>

      <nav class="navbar" data-navbar>
        <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
          <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
        </button>

        <a href="#" class="logo">
          <img src="https://www.central.edu.gh/static/img/Central-Uni-logo.png" width="148" height="38" alt="Fasteat home">
        </a>

        <ul class="navbar-list">

          <li class="navbar-item">
            <a href="/" class="navbar-link" data-nav-link>Dashboard</a>
          </li>

          <li class="navbar-item active">
            <a href="/news" class="navbar-link" data-nav-link>News Feed</a>
          </li>

          <li class="navbar-item">
            <a href="/bill" class="navbar-link" data-nav-link>Bills</a>
          </li>

         <!-- <li class="navbar-item">
            <a href="#" class="navbar-link" data-nav-link>Contacts</a>
          </li>-->

        </ul>
      </nav>

      <div class="header-action">
       <!-- <button class="cart-btn" aria-label="cart">
          <ion-icon name="bag" aria-hidden="true"></ion-icon>
        </button>-->

        <a href="/newdash" class="btn btn-primary has-after">ADM</a>
      </div>

      <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
        <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
      </button>

      <div class="overlay" data-overlay data-nav-toggler></div>

    </div>
  </header>





  <main>
    <div class="containe" style="margin-top:80px; background-color:#772620; height:300px; padding:20px;">
    <div class="container">
      <h6 style="font-size:20px; text-align:center; color:#fff; margin-bottom:20px; margin-top:40px;">Search for a student ID<h6>
    
        
        <form class="d-flex " role="search" method='POST' action='{{url_for('search')}}'style="margin-top:20px;" >
          {{form.hidden_tag()}}
         
           <input class="input-field my-0 my-lg-0 mt-1 space " type="search" name='searched' placeholder="Search for course" aria-label="Search" style="">
           <button class="btn btn-secondary has-after" type="submit" > <i class="fa fa-search" aria-hidden="true"></i> </button>
             
         </form>
    
  </div>
  </div>
    
 
    <div class="container">
     <!-- <div class="card-meta-wrapper" style=" margin-top:20px;  display:flex; overflow:auto;">
        <a href="/addstatus" class="card-meta" style="width:90px; padding:10px; width:800px; border-style: solid; border-color: #3e8a08;  text-align:center; border-radius:10px; " >MyPrescriptions</a>
        <a href="#" class="card-meta" style="width:90px; padding:10px; width:800px; margin-left:30px;    border-style: solid; border-color: #3e8a08;  text-align:center; border-radius:10px; " >Categories</a>
        <a href="#" class="card-meta" style="width:90px; padding:10px; width:800px; margin-left:30px;    border-style: solid; border-color: #3e8a08;  text-align:center; border-radius:10px; " class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Find Drugs</a>
         </div>-->
      <!--<img src="static/img/wencol3.png" style="width:100%; margin-top:30px; height:250px;object-fit:cover; border-radius:10px; box-shadow:0 0 30px 4px hsla(0, 0%, 0%, 0.05); margin-bottom:20px;"loading="lazy" alt="The Wilmington"
                  class="w-100">-->
      
    <article>
      
      <div class="modal fade  modal-xl" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" >
          <div class="modal-content" style="border-radius:20px;">
            
           
              <form class="form-inline my-2 my-lg-0 mt-2 space" style="display: flex; padding-top: 20px;width:2000px; padding-bottom: 20px; border-radius:20px;" >
                <input type="text"
                    class="form-control" name="" id="" aria-describedby="helpId" placeholder="Search for your prescriptions" style="width:700px; padding:15px;   " >
                    <i class="fas fa-search" style="font-size:15px; margin-top:15px;  margin-left:20px;"></i>
              </form>
          
            <!--<div class="modal-footer">
              <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Open second modal</button>
            </div>-->
          </div>
        </div>
      </div>
      
      </div>
     
    <div class="container">
      {% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success mb-3" role="alert">
        {{ message }} 
        
    </div>
    
    {% endfor %}
{% endif %}
{% endwith %}

{% block body %}
{% endblock%}

  

    </article>
  </main>



<footer>
  <div class="container">
    <div class="row">
            <div class="col-lg-4">
                <img src="https://www.central.edu.gh/static/img/Central-Uni-logo.png" alt="Central University Logo" class="logo">
                <address>
                    <span class="fs-2"><b>Mission</b></span>
                    We aim to provide transparent, efficient, and supportive financial solutions to empower students in managing their financial obligations effectively while promoting financial literacy and responsible financial decision-making within the university community.
                   
                </address>
               
              </div>
  <div class="col-lg-4">
    <ul>
      <h4><b>Faculties</b></h4>
        <li><a href="#">Pharmacy</a></li>
        <li><a href="#">Law</a></li>
        <li><a href="#">Medical Sciences</a></li>
        <li><a href="#">Nursing and Midwifery</a></li>
        <li><a href="#">Engineering & Technology</a></li>
        <li><a href="#">Social Sciences</a></li>
        <li><a href="#">Architecture and Design</a></li>
        <li><a href="#">Business</a></li>
        <li><a href="#">Graduate School</a></li>
        <li><a href="#">CDPE</a></li>
    </ul>
</div>
            
            <div class="col-lg-4">
                <h4><b>Useful Numbers</b></h4>
               
                <p>Main Phone: <a href="tel:+233303331850">+233 303 331 850</a></p>
                <p>Finances: <a href="tel:+233307020540">+233 307 020 540</a></p>
                <p>Whatsapp: <a href="tel:+233233331180">+233 233 331 180</a></p>
                <p>Email: <a href="mailto:academicdirector@central.edu.gh">academicdirector@central.edu.gh</a></p>
            
            </div>
        </div>
       
      </div>
      <div class="footer-bottom text-white" style="background-color:#772620;">
        <p>&copy; Copyright <strong>Central University</strong>. All Rights Reserved</p>
    </div>
    </footer>
    <script src="scripts.js"></script>


  <!-- 
    - custom js link
  -->
  <script src="static/assets/js/script.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>








  
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
       https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-analytics.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-storage.js"></script>
  
  <!-- <script defer src="//firebase/8.9.1/firebase-storage.js"></script> -->
  


  <script>
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: "AIzaSyBPHDVrXV4nn_4agQgWFItDlS8z9cvq5zw",
      authDomain: "centralalumni.firebaseapp.com",
      projectId: "centralalumni",
      storageBucket: "centralalumni.appspot.com",
      messagingSenderId: "270504690849",
      appId: "1:270504690849:web:b03ee12ab92e157196dce0",
      measurementId: "G-9T21K58F10"
    };
    
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
  </script>
    

    
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

</body>
</html>





