{% extends 'admin.html' %}

{% block body %}
 



<aside class="admin__aside">
    <div class="tabContaine">
        <a href="/newdash"> <div class="tabButton"  style="background-color:#fff; padding:15px; border-radius:5px; color:#000;"><span class="text-muted" >Navigation Menu</span></div></a>
        
        <!--<div class="panel">
            <ul>
                <li><input type="checkbox" /><span>İstanbul</span> </li>
                <li><input type="checkbox" /><span>Ankara</span> </li>
                <li><input type="checkbox" /><span>İzmir</span> </li>
                <li><input type="checkbox" /><span>Balıkesir</span> </li>
            </ul>
        </div>-->
        <div class="tabContainer">
            <a href="/newdash"> <div class="tabButton" style="background-color:#772620;  padding:15px; border-radius:5px; color:#fff;"><i class="fas fa-home"></i><span>Dashboard</span></div></a>
            <div class="tabButtonBorder"></div>
            <!--<div class="panel">
                <ul>
                    <li><input type="checkbox" /><span>İstanbul</span> </li>
                    <li><input type="checkbox" /><span>Ankara</span> </li>
                    <li><input type="checkbox" /><span>İzmir</span> </li>
                    <li><input type="checkbox" /><span>Balıkesir</span> </li>
                </ul>
            </div>-->
        </div>
    <div class="tabContainer">
        <a href="/profile"> <div class="tabButton" style="background-color:#fff; padding:15px; border-radius:5px; color:#000;"><i class="fas fa-users"></i><span>All Students</span></div></a>
        <div class="tabButtonBorder"></div>
        <!--<div class="panel">
            <ul>
                <li><input type="checkbox" /><span>İstanbul</span> </li>
                <li><input type="checkbox" /><span>Ankara</span> </li>
                <li><input type="checkbox" /><span>İzmir</span> </li>
                <li><input type="checkbox" /><span>Balıkesir</span> </li>
            </ul>
        </div>-->
    </div>
    <div class="tabContainer">
        <a href="/addalumni"><div class="tabButton" style="background-color:#fff; padding:15px; text-decoration:none; border-radius:5px; color:#000;"><i class="fas fa-plus-circle"></i><span>Add Student</span></div></a>
        <div class="tabButtonBorder"></div>
    
    </div>

    

    <div class="tabContainer">
        <a href="/addnews"><div class="tabButton" style="background-color:#fff; padding:15px; border-radius:5px; color:#000;"><i class="fas fa-plus-circle"></i><span>Add News</span></div></a>
        <div class="tabButtonBorder"></div>
    
    </div>
    
    <div class="tabContainer">
        <a href="/addbill"><div class="tabButton" style="background-color:#fff; padding:15px; border-radius:5px; color:#000;"><i class="fas fa-plus-circle"></i><span>Add Bill</span></div></a>
        <div class="tabButtonBorder"></div>
    
    </div>
    
    <div class="tabContainer">
        <a href="#"><div class="tabButton" style="background-color:#fff; padding:15px; border-radius:5px; text-decoration:none; color:#000;"><i class="fas fa-plus-circle"></i><span>Add CSV</span></div></a>
        <div class="tabButtonBorder"></div>
    
    </div>
    
    <div class="tabContainer">
        <a href="/report"> <div class="tabButton" style="background-color:#fff; padding:15px; border-radius:5px; color:#000"><i class="fa fa-database"></i><span>Reports</span></div></a>
        <div class="tabButtonBorder"></div>
<!--                <div class="panel">
            <ul>
                <li><input type="checkbox" /><span>İstanbul</span> </li>
                <li><input type="checkbox" /><span>Ankara</span> </li>
                <li><input type="checkbox" /><span>İzmir</span> </li>
                <li><input type="checkbox" /><span>Balıkesir</span> </li>
            </ul>
        </div>-->
    </div>
</aside>
<main class="admin__main">
  
    <div class="searchResults">
        {%for user in student%}
        <div class="col-md-12 col-12" style=" border-radius:10px; ">
            <a style="text-decoration: none;" href="">
            <div class="card space" style="margin-bottom: 3vh;border-radius:10px;  padding: 10px;  border-radius: 10px;">
                 <div style="background-color:#fff;#772620; border-radius:10px;  padding: 10px; ">  
                    <img src="{{user.image_file}}" loading="lazy" style="width: 100%; height: 100%;  margin:auto; " alt="">

                  
                  <hr>
                  <div style="display: flex; justify-content: space-between;">
                    <h5 style="color: black; ">  <b>Description</b></h5>
                   <p style=" color:green;">{{user.guardian}}</p>
                  </div>
                  <hr>
                  <div style="display: flex; justify-content: space-between;">
                    <h5 style="color: black; "><b> Trending</b></h5>
                   <p style=" color:green;"> {{user.arrears}}</p>
                  </div>
                  
                
                  <a href="/deleteusers/{{user.id}}"><i class="fa fa-trash" aria-hidden="true"></i></a>
              
                </div>
               
      
            </div>
            </a>
          </div>
        {% endfor %}
    </div>
</main>
    {%endblock body%}
