{% extends 'layout.html' %}
{% block body %}



<!--{{searched}}--> 



<div class="row">
  {%if posts|length < 1 %}
  
  <h4 class="text-muted">No result for the {{searched}}</h4>
  {%else %}
  <div class="row">
  {% for post in posts %}
  <div class="col-md-3 col-12" style=" border-radius:10px; ">
    <a style="text-decoration: none;" href="">
    <div class="card space" style="margin-bottom: 3vh;border-radius:10px;  padding: 10px;  border-radius: 10px;">
         <div style="background-color:#fff;#772620; border-radius:10px;  padding: 10px; ">  
          <h6 style="color: black; font-size:20px;" ><b>{{post.index}}</b></h6>
          <div style="display: flex; justify-content: space-between;">
            <h6 style="font-size: small;color: black; background-color:#f1c7c7; padding:5px; border-radius:7px;">  {{post.schools}}</h6>
         <i class="fa fa-address-card" aria-hidden="true"></i>
          </div>
          <hr>
          <div style="display: flex; justify-content: space-between;">
            <h6 style="font-size: small;color: black; ">  School Fees</h6>
           <p style=" color:green;">GH₵ {{post.fees}}</p>
          </div>
          <hr>
          <div style="display: flex; justify-content: space-between;">
            <h6 style="font-size: small;color: black; ">  Debt</h6>
           <p style=" color:red;">GH₵ -{{post.arrears}}</p>
          </div>
        </div>
    </div>
    </a>
  </div>
 
  
      {% endfor %} 
      </div> 
    {%endif%}
    </div>
      </div>
    {% endblock body %}